{% extends 'core/base.html' %}
{% load static %}
{% block title %}CASOS GES{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'core/css/dataTables.semanticui.min.css' %}">
<link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
{% endblock link %}
{% block content %}
<div>
    {% if 'ok' in request.GET %}
    <div class="ui success message transition">
        <i class="close icon"></i>
        <div class="header">
            Monitoreo cargado correctamente
        </div>
        <p>El Listado de casos ha sido actualizado con el nuevo monitoreo</p>
    </div>
    {% endif %}
    <h2 class="ui header floated left">
        <i class="icon briefcase"></i>
        <div class="ui content">Casos GES
            <div class="sub header">Listado de Casos en Gestión</div>
        </div>
    </h2>
    {% if request.user.is_staff %}
    <a class="ui right floated small teal labeled icon button"
       data-tooltip="Ingresar un nuevo caso"
       data-inverted=""
       data-position="bottom center"
       href="{% url 'monitoreos:create'%}">
        <i class="file excel outline icon"></i>
        CARGAR NUEVO MONITOREO
    </a>
    {% endif %}
    <div class="ui divider clearing"></div>
    <div>
        <h3 class="ui header floated left">
            <div class="content">

            </div>
        </h3>
        <div>
            <table id="pacientes" class="ui celled table bordered striped">
                <thead>
                <tr>
                    <th>ACCIONES</th>
                    <th>RUN</th>
                    <th>NOMBRE</th>
                    <th>FECHA INICIO</th>
                    <th>FECHA LIMITE</th>
                    <th>PATOLOGÍA</th>
                    <th>FALTAN</th>
                    <th>ESTADO</th>
                </tr>
                </thead>
                <tbody>
                {% for caso in caso_list %}
                <tr>
                    <td>
                        <a class="ui small blue icon button"
                           data-tooltip="Gestionar Caso"
                           data-inverted=""
                           data-position="bottom center"
                           href="{% url 'casos:caso' caso.id%}">
                            <i class="eye icon"></i>
                        </a>
                    </td>
                    <td>{{ caso.paciente.run }}-{{ caso.paciente.dv}}</td>
                    <td>{{ caso.paciente.nombres }} {{ caso.paciente.apellidos }}</td>
                    <td>{{ caso.fecha_inicio|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ caso.fecha_limite|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ caso.patologia.nombre|truncatechars:40 }}</td>

                    {% if caso.vencimiento >= 30 %}
                    <td><div class="ui olive label">{{ caso.vencimiento}}</div></td>
                    {% elif caso.vencimiento < 30 and caso.vencimiento > 15 %}
                    <td><div class="ui yellow label">{{ caso.vencimiento}}</div></td>
                    {% elif caso.vencimiento <= 15 and caso.vencimiento > 8 %}
                    <td><div class="ui orange label">{{ caso.vencimiento}}</div></td>
                    {% elif caso.vencimiento >= 1 and caso.vencimiento <= 8 %}
                    <td><div class="ui red label">{{ caso.vencimiento}}</div></td>
                    {% else %}
                    <td><div class="ui purple label">{{ caso.vencimiento}}</div></td>
                    {% endif %}
                    {% if caso.exceptuado %}
                    <td> <div class="ui blue horizontal label">exceptuado</div> </td>
                    {% elif caso.vigente %}
                    <td> <div class="ui green horizontal label">Vigente</div> </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'core/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'core/js/dataTables.semanticui.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#pacientes').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
        });
    });
</script>
<script>
    $('.message .close')
        .on('click', function () {
            $(this).closest('.message').transition('fade');
        });
</script>
{% endblock scripts %}