{% extends 'core/base.html' %}
{% load static %}
{% block title %}INFORMACIÓN DEL CASO{% endblock %}
{% block content %}
<div>
        <h2 class="ui header floated left">
            <i class="icon user"></i>
            <div class="content"><strong>{{ caso.paciente.nombres}} {{caso.paciente.apellidos}}</strong>
                <div class="sub header">INFORMACIÓN DEL CASO</div>
            </div>
        </h2> 
        <div class="ui divider clearing"></div>
        <div class="ui horizontal raised segments">
            <div class="ui red segment">
                <div class="ui animated list divided very relaxed">
                    <div class="item">
                        <i class="user icon"></i>
                        <div class="content">FECHA INICIO: <strong>{{caso.fecha_inicio}}</strong></div>
                    </div>
                    <div class="item">
                        <i class="id card icon"></i>
                        <div class="content">FECHA TERMINO: {{caso.fecha_inicio}}</div>
                    </div>
                    <div class="item">
                        <i class="briefcase icon"></i>
                        <div class="content">FALTAN: 31 DÍAS</div>
                    </div>
                </div>
            </div>
            <div class="ui green segment">
                <div class="ui animated list divided very relaxed">
                    <div class="item">
                        <i class="user icon"></i>
                        <div class="content">Debe Tener la Segunda Pesquisa antes del 26/12/2019</div>
                    </div>
                    <div class="item">
                        <i class="id card icon"></i>
                        <div class="content">Debe tener a la confirmación o Descarte por médico a mas tardar el 26/12/2019</div>
                    </div>
                    <div class="item">
                        <i class="briefcase icon"></i>
                        <div class="content">Este caso se puede exceptuar con dos NSP hasta la fecha límite</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider clearing"></div>
        <h2 class="ui header floated left">
            <i class="calendar check outline icon"></i>
            <div class="content">CITACIONES
                <div class="sub header">Listado de CITACIONES</div>
            </div>
        </h2>
            <a class="ui right floated small grey labeled icon button"
               data-tooltip="Ingresar un citacion"
               data-inverted=""
               data-position="bottom center"
               href="#">
                <i class="user icon"></i>
                INGRESAR CITACIÓN
            </a>
        <table class="ui celled table bordered striped">
            <thead>
            <tr>
                <th>FECHA</th>
                <th>HORA</th>
                <th>PROFESIONAL</th>
                <th>TIPO PRESTACIÓN</th>
                <th>OBSERVACION</th>
                <th>ESTADO</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>22/11/2019</td>
              <td>08:30</td>
              <td>RENE ALVAREZ</td>
              <td>PESQUISA PRESIÓN ARTERIAL</td>
              <td>PRIMERA PESQUISA</td>
              <td>ATENDIDO</td>
            </tr>
            <tr>
              <td>27/11/2019</td>
              <td>08:30</td>
              <td>RENE ALVAREZ</td>
              <td>PESQUISA PRESIÓN ARTERIAL</td>
              <td>SEGUNDA PESQUISA</td>
              <td>EN ESPERA</td>
            </tr>
            <tr>
              <td>02/12/2019</td>
              <td>08:30</td>
              <td>XIMENA MARIN</td>
              <td>CONFIRMACION MEDICA</td>
              <td>SIN OBSERVACION</td>
              <td>EN ESPERA</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}