{% extends 'core/base.html' %}
{% load static %}
{% block title %}CASOS GES{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'core/css/dataTables.semanticui.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
{% endblock link %}
{% block content %}
    <div>
        <h2 class="ui header floated left">
            <i class="icon briefcase"></i>
            <div class="ui content">Casos GES
                <div class="sub header">Listado de Casos en Gestión</div>
            </div>
        </h2>
        {% if request.user.is_staff %}
            <a class="ui right floated small teal labeled icon button"
               data-tooltip="Ingresar un nuevo caso"
               data-inverted=""
               data-position="bottom center"
               href="#">
                <i class="save icon"></i>
                INGRESAR NUEVO MONITOREO
            </a>
        {% endif %}
        <div class="ui divider clearing"></div>
        <div>
            <h3 class="ui header floated left">
                <div class="content">

                </div>
            </h3>
            <div>
                <table id="pacientes" class="ui celled table bordered striped">
                    <thead>
                    <tr>
                        <th>ACCIONES</th>
                        <th>RUN</th>
                        <th>NOMBRE</th>
                        <th>FECHA INICIO</th>
                        <th>FECHA LIMITE</th>
                        <th>PATOLOGÍA</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for caso in caso_list %}
                        {% if caso.vigente  %}
                        <tr>
                            <td >
                                <a class="ui tiny primary labeled icon button"
                                data-tooltip="{{ caso.paciente.nombres }}"
                                data-inverted=""
                                data-position="bottom center"
                                href="{% url 'casos:caso' caso.id%}">
                                    <i class="user icon"></i>
                                    GESTIONAR CASO
                                </a>
                            </td>
                            <td>{{ caso.paciente.run }}-{{ caso.paciente.dv}}</td>
                            <td>{{ caso.paciente.nombres }} {{ caso.paciente.apellidos }}</td>
                            <td>{{ caso.fecha_inicio|date:"SHORT_DATE_FORMAT" }}</td>
                            <td>{{ caso.fecha_limite|date:"SHORT_DATE_FORMAT" }}</td>
                            <td>{{ caso.patologia.nombre|truncatechars:40 }} </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'core/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'core/js/dataTables.semanticui.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#pacientes').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                },
            });
        });
    </script>
{% endblock scripts %}