{% extends 'core/base.html' %}
{% load static %}
{% block title %}REPORTES GES{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'core/css/dataTables.semanticui.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
{% endblock link %}
{% block content %}
<div>
<h2 class="ui header floated left">
        
            <i class="icon chart pie"></i>
            <div class="content"><strong>{{ caso.paciente.nombres}} {{caso.paciente.apellidos}}</strong>
                <div class="sub header">REPORTES DE SEAMGES</div>
            </div>
        </h2>
        <div class="ui divider clearing"></div>
        <div class="ui cards">
        <div class="card">
            <div class="content">
            <div class="header">Casos por Patología</div>
            <div class="description">
                Cantidad de casos gestionados por patologías.
            </div>
            </div>
            <div class="ui bottom yellow attached button">
            <i class="add icon"></i>
            Ver Información
            </div>
        </div>
        <div class="card">
            <div class="content">
            <div class="header">Casos Exceputado</div>
            <div class="description">
                Información referente a los casos que se encuentran exceptuados.
            </div>
            </div>
            <div class="ui bottom yellow attached button">
            <i class="add icon"></i>
            Ver Información
            </div>
        </div>
        <div class="card">
            <div class="content">
            <div class="header">Cantidad de NSP</div>
            <div class="description">
                Muestra información Referente a las ausencias a citaciones de los pacientes
            </div>
            </div>
            <div class="ui bottom yellow attached button">
            <i class="add icon"></i>
            Ver Información
            </div>
        </div>
        <canvas id="myChart" height="40vh" width="80vw"></canvas>
        </div>
        
        </div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'core/js/Chart.js' %}"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Exceptuados sin gestión', 'Exceptuados con Getion', 'Exceptuados Cumplido'],
        datasets: [{
            data: [2, 79, 100],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock scripts %}