{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}

  <div class="ui message">
    <h1 class="ui header">Bienvenido {{ user.username }} <br>Sistema experto de apoyo al monitoreo de las "Garantías Explícitas en Salud"</br></h1>
    <ul>
        <li>Modulo de monitoreo de casos ges</li>
        <div class="ui divider clearing"></div>
        <li>Modulo de gestión de caso individual</li>
        <div class="ui divider clearing"></div>
        <li>Modulo de consulta de reportes</li>
        <div class="ui divider clearing"></div>
    </ul>

  </div>
{% endblock content %}