{% extends 'core/base.html' %}
{% load static %}
{% block title %}LISTADO DE MONITOREOS{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'core/css/dataTables.semanticui.min.css' %}">
<link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
{% endblock link %}
{% block content %}
<div>
    {% if 'ok' in request.GET %}
    <div class="ui success message transition">
        <i class="close icon"></i>
        <div class="header">
            Monitoreo cargado correctamente
        </div>
        <p>El Listado de casos ha sido actualizado con el nuevo monitoreo</p>
    </div>
    {% endif %}
    <h2 class="ui header floated left">
        <i class="icon briefcase"></i>
        <div class="ui content">LISTADO DE MONITOREOS
            <div class="sub header">Listado de monitoreos cargados al sistema</div>
        </div>
    </h2>
    {% if request.user.is_staff %}
    <a class="ui right floated small teal labeled icon button"
       data-tooltip="Ingresar un nuevo caso"
       data-inverted=""
       data-position="bottom center"
       href="{% url 'monitoreos:create'%}">
        <i class="file excel outline icon"></i>
        CARGAR NUEVO MONITOREO
    </a>
    {% endif %}
    <div class="ui divider clearing"></div>
    <div>
        <h3 class="ui header floated left">
            <div class="content">

            </div>
        </h3>
        <div>
            <table id="monitoreos" class="ui celled table bordered striped">
                <thead>
                <tr>
                    <th>Fecha de Carga</th>
                </tr>
                </thead>
                <tbody>
                {% for monitoreo in monitoreo_list %}
                <tr>
                    <td>{{ monitoreo.created }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'core/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'core/js/dataTables.semanticui.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#monitoreos').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            },
        });
    });
</script>
<script>
    $('.message .close')
        .on('click', function () {
            $(this).closest('.message').transition('fade');
        });
</script>
{% endblock scripts %}